{% extends 'base.html.twig' %}

{% block html %}
	<title>Game Name Generator</title>

	<article class="container">
		<header>
			{% include 'logo.html.twig' %}
		</header>

		{% block content %}{% endblock content %}

		<footer>
			<p>Code by Samuel &middot; Design by Alex &middot; Help from:</p>

			<ul class="list-inline">
				<li>
					<a href="https://getcomposer.org/" title="Composer dependency manager">
						composer
					</a>
				</li>
				<li>
					<a href="https://github.com/twigphp/Twig" title="Twig PHP templating engine">
						twig
					</a>
				</li>
				<li>
					<a href="https://github.com/nubs/random-name-generator" title="Random name generator">
						name generator
					</a>
				</li>
				<li>
					<a href="https://github.com/Seldaek/monolog" title="Monolog logger">
						monolog
					</a>
				</li>
				<li>
					<a href="https://github.com/Seldaek/monolog" title="Bootstrap HTML/CSS boilerplate">
						bootstrap
					</a>
				</li>
			</ul>
			<ul class="list-inline">
				<li>
					<a href="http://subtlepatterns.com/subtle-grey/" title="Subtle grey pattern">
						pattern by Haris Šumić
					</a>
				</li>
				<li>
					<a href="http://google.com/fonts" title="Fonts by Google">
						fonts by google
					</a>
				</li>
				<li>
					<a href="http://codepen.io/DirkWeber/pen/ArFvk" title="CSS glitch text effect">
						logo effect by Dirk Webber
					</a>
				</li>
			</ul>
		</footer>
	</article>
{% endblock html %}


{% block css %}
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
		body {
			background: transparent url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grey.png") repeat scroll 0% 0%;
			font-family: 'Roboto', sans-serif;
			padding-top: 30px;
		}
		.container {
			max-width: 700px;
		}
		article {
			text-align: center;
			color: #222;
		}
		header {
			padding: 15px 0;
		}
		header svg{
		  display: block;
		  position: relative;
		  overflow: hidden; 
		  margin: 0 auto;
		  background: black;
		  border-radius: 10px;
		}
		section {
			margin: 30px 0;
		}
		section.generated p {
			padding: 25px 0;
			background-color: #fff;
			font-family: 'Roboto Slab', Courier;
			font-size: 24px;
		}
	</style>
{% endblock css %}