{% extends 'layout.html.twig' %}

{% block content %}
		<section class="generated">
			<h2>Your generated name is:</h2>
			<p>{{ name }}</p>
		</section>

		<section class="retry">
			<a href="/" class="btn btn-lg btn-primary">
				Go again &raquo;
			</a>
		</section>
{% endblock content %}

